/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );
.v-input__details {
  display:none;
}
.flex-05 {
  flex: 0.5;
}
.flex-1 {
  flex: 1
}
.max-w-33 {
  max-width: 33%;
}